@model TicketingApp.Models.ArtistListPage;

@{
    ViewData["Title"] = "Artist Page";
}

<h1>Artist Main Page</h1>

<a class="btn btn-primary" href="/artist/create">Create Artist</a>

<hr />

<form hx-post="/artist/search" hx-target="#artist_search_result">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchInput" placeholder="Artist Name" aria-label="Artist Name"
            aria-describedby="Artist Search Inpu">
        <button class="btn btn-outline-primary" type="submit" id="artist_search_btn">Search</button>
    </div>
</form>

<div id="artist_search_result">
    @await Html.PartialAsync("~/Views/Artist/ArtistList.cshtml")
</div>
