@model TicketingApp.Models.VenueCreateDto;

@{
    ViewData["Title"] = "Create Venue";
    int ENTER_KEY_CODE = 13;
}

<div id="errorMessage"></div>

<h1>Create Venue</h1>

<form hx-post="/venue/create" hx-target-error="#errorMessage"
    onkeydown="if(event.keyCode === @(ENTER_KEY_CODE)) { event.preventDefault() }">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label for="venueName" class="form-label">Venue Name</label>
        <input type="text" class="form-control" id="venueName" name="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">Venue Address</label>
        <input type="text" class="form-control" id="address" name="Address" aria-describedby="address">
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Row Count</span>
        <input type="text" class="form-control" id="rowCountInput" placeholder="Row Count" aria-label="Row Count"
            name="rowCountInput" value="7">
        <span class="input-group-text">Column Count</span>
        <input type="number" min="1" step="1" class="form-control" id="colCountInput" placeholder="Column Count"
            aria-label="Column Count" name="colCountInput" value="7">
        <button onclick="generateSeatMap()" type="button" class="btn btn-success">Generate</button>
    </div>

    <div id="seatChart"></div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/seatchart@0.1.0/dist/seatchart.min.js"></script>
<script>

    function getRowCol() {
        const rowCount = +document.getElementById("rowCountInput").value;
        const colCount = +document.getElementById("colCountInput").value;

        return [rowCount, colCount]
    }

    function generateSeatMap() {

        const [rowCount, colCount] = getRowCol();

        const element = document.getElementById('seatChart');
        const options = {
            cart: { visible: false },
            legendVisible: false,
            map: {
                rows: rowCount,
                columns: colCount,
                seatTypes: {
                    default: {
                        label: 'Economy',
                        cssClass: 'economy',
                        price: 10,
                    },
                },
            },
        };

        const sc = new Seatchart(element, options);
        sc.addEventListener("seatchange", (prop) => {
            console.log(prop)
        })
    }
</script>