@model TicketingApp.Services.PaginationService.PaginationModel<Event>;
@{
    ViewData["Title"] = "Ticketing App";
}

<h1>Book Your Next Event</h1>

<div class="container">
    <form hx-post="/event/search" hx-target="#event_search_result">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchInput" placeholder="Event Name">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </div>
    </form>
</div>

<div id="event_search_result">
    @await Html.PartialAsync("~/Views/Event/EventList.cshtml")
</div>